<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spécifications</title>
</head>
<body>
  <table>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Description</th>
      <th>Date de validation</th>
      <th>Nom du client</th>
    </tr>

    <tr th:each="stb:${stbs}">
      <!-- TODO -->
      <td><span th:utext="${stb.id}"></span></td>
      <td><span th:utext="${stb.title}"></span></td>
      <td><span th:utext="${stb.description}"></span></td>
      <td><span th:utext="${stb.date}"></span></td>
      <td><span th:utext="${stb.client.entity}"></span></td>
    </tr>

  </table>

</body>
</html>